@import "tailwindcss";

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-style: bold;
}

.animate-fade-in {
  animation: fade-in 1s ease-out;
}

.bounce-logo {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
